@font-face {
  font-family: "iconfont"; /* Project id 3901184 */
  src: url('iconfont.eot?t=1676604860770'); /* IE9 */
  src: url('iconfont.eot?t=1676604860770#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1676604860770') format('woff2'),
       url('iconfont.woff?t=1676604860770') format('woff'),
       url('iconfont.ttf?t=1676604860770') format('truetype'),
       url('iconfont.svg?t=1676604860770#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="blog"], [class*=" blog"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-fenlei:before {
  content: "\e62f";
}

.blog-wenzhang:before {
  content: "\e668";
}

.blog-liulanliang:before {
  content: "\e611";
}

.blog-biaoqian:before {
  content: "\e824";
}

